<div class="game" data-ng-controller="Game as vm">


    <a href="" data-ng-click="vm.setStatus('choose')" data-ng-show="vm.status==='start'">
        <img src="images/home-screen.png">
    </a>

    <!--<a href="" data-ng-click="vm.setStatus('choose')" data-ng-show="vm.status==='select'">-->
        <!--<img src="images/game-screen.png">-->
    <!--</a>-->

    <div class="game text--center game-padding--ends" data-ng-show="vm.status==='choose' && vm.game !=='win'">

        <h1>Choose your weapon!</h1>
        <div class="display display-left" data-ng-show="vm.game">
            <img src="images/buttons/140-{{vm.selected}}.png">
            <h3>YOU {{vm.game}}</h3>
        </div>
        <a href="" class="block" data-ng-click="vm.play('Paper', vm.computerMove())"><img src="images/buttons/140-Paper.png"></a>
        <a href="" class="block" data-ng-click="vm.play('Rock')"><img src="images/buttons/140-Rock.png"></a>
        <a href="" class="block" data-ng-click="vm.play('Scissors')"><img src="images/buttons/140-Scissors.png"></a>

        <div class="display display-right" data-ng-show="vm.game">
            <img src="images/buttons/140-{{vm.computer}}.png">
            <h3>COMPUTER</h3>
        </div>
    </div>


    <a href="" data-ng-click="vm.setStatus('start')" data-ng-show="vm.game==='win'">

        <div class="display display-left" data-ng-class="{ 'animate': vm.game==='win' }">
            <img src="images/buttons/140-{{vm.selected}}.png">
            <h3>YOU</h3>
        </div>

        <img src="images/game-screen-win.png">

        <div class="display display-right" data-ng-class="{ 'animate': vm.game==='win' }">
            <img src="images/buttons/140-{{vm.computer}}.png">
            <h3>COMPUTER</h3>
        </div>

    </a>
</div>